@media(min-width:576px) {
    .main .main-img {
        width: 500px;
        height: 500px;
    }

    /*Call section*/
    .call {
        width: 520px;
    }

    /*About section*/
    .about-team .about-name {
        margin-top: 75px;
        
    }

    .about-team .about-name h2 {
        font-size: 42px;
        margin-top: 120px;
        
    }

    .about .info h1 {
        font-size: 50px;
    }

    /*News section*/
    .news-content-text .news-button {
        left: 170px;
    }

    /*Contact form section*/
    .contact-form .contact-form-input {
        width: 400px;
    }

}

@media(min-width:768px) {

    /*Call section*/
    .call {
        width: 680px;
    }

    /*News section*/
    .news-content-text .news-button {
        left: 270px;
    }
}

@media (min-width:992px) {

    /*Info section*/
    .info .info-text h3 {
        text-align: center;
        width: 900px;
        margin: auto;
        padding: 30px;
    }

    .info .info-text p {
        text-align: center;
        font-size: 22px;
        color: #E73BA5;
        font-weight: 700;
        margin-bottom: 70px;
    }

    /*Call section*/
    .call {
        width: 900px;
        margin: auto;
        border-top: 3px solid #00ced1;
        border-left: 3px solid #32CD32;
        border-top-left-radius: 20px;
        padding: 35px 20px;
    }

    .call .info-call h1 {
        color: #4A5CFF;
        margin-bottom: 40px;
        font-size: 50px;
    }

    .call .info-call .line-paragraph {
        border-bottom: 2px solid #4A5CFF;
        width: 460px;
        color: black;
        font-weight: 500;
    }

    /*About section*/
    .about {
        margin-bottom: 0px;
    }

    .about .info {
        text-align: center;
        margin-bottom: 100px;
    }

    .about .info h1 {
        font-size: 60px;
    }

    .about .info p {
        font-size: 22px;
        width: 900px;
        margin: auto;
    }

    .about-team .about-name {
        margin-top: 0px;
    }

    .about-team .about-name h2{
        margin-top: 0;
    }

    .about-team {
        height: 840px;
    }

    /*News section start*/
    .news {
        width: 900px;
        margin: auto;
    }

    .news h1 {
        font-size: 60px;
        margin-bottom: 60px;
    }

    .news .news-content h3 {
        text-align: start;
    }

    .news-content-text .news-button {
        left: 730px;
    }

    .news-content-text p {
        text-align: start;
    }

    .news-content-text .about-us:hover {
        color: #00ced1;
    }

    /*Contact section start*/

    .contact .contact-info h1 {
        font-size: 60px;
    }


}

@media (min-width:1200px) {

    /*Info section*/
    .info .info-text h3 {
        width: 1050px;
    }

    /*Call section*/
    .call {
        width: 1050px;
    }

    /*About section*/
    .about-team .about-name {
        margin-top: 93px;
    }

    .about-team {
        height: 580px;
    }

    .about .about-team img {
        max-width: 160px;
     }

    /*News section start*/
    .news {
        width: 1050px;
        margin: auto;
    }

    .news-content-text .news-button {
        left: 885px;
    }
}