* {
   font-family: 'Cooper Hewitt';
   font-size: 18px;
}

.navbar {
   margin-bottom: 15px;
}

.navbar .main-img {
   fill: #E73BA5;
   width: 70px;
   height: 70px;
}

.navbar-nav .nav-item a {
   color: #E73BA5;
   font-size: 18px;
   margin-right: 25px;
}


/*Info section*/
.info .info-text h3 {
   text-align: center;
   width: 1050px;
   margin: auto;
   padding: 30px;
}

.info .info-text p {
   text-align: center;
   font-size: 22px;
   color: #E73BA5;
   font-weight: 700;
   margin-bottom: 70px;
}

/*about section*/
.about {
   margin-bottom: 70px;
}

.about .info {
   text-align: center;
   margin-bottom: 100px;
}

.about .info h1 {
   font-size: 55px;
   margin-bottom: 30px;
   color: #E73BA5;
}

.about .info p {
   font-size: 22px;
   width: 1050px;
   margin: auto;
}

.about .about-team {
   border-top: 3px solid;
   border-left: 3px solid;
   border-top-left-radius: 20px;
   padding: 25px 25px 10px 25px;
}

.about .about-team h2 {
   margin-bottom: 25px;
}

.about .about-team img {
   width: auto;
   height: 200px;
}

/*Call section*/
.call {
   width: 1050px;
   margin: auto;
   border-top: 3px solid #00ced1;
   border-left: 3px solid #32CD32;
   border-top-left-radius: 20px;
   padding: 35px 20px;
}

.call .info-call h1 {
   text-align: center;
   color: #4A5CFF;
   margin-bottom: 40px;
   font-size: 50px;
}

.call .info-call {
   margin-bottom: 60px;
}

.call .info-call a {
   text-decoration: none;
   color: #E73BA5;
}

.call .info-call a:hover {
   color: #00ced1;
}

/*question article start*/
.question h2 {
   text-align: center;
   color: #32CD32;
   font-size: 40px;
   margin-bottom: 50px;
}

/*accordian*/
.accordion-item:not(:first-of-type) {
   border: none;
}
.accordion .accordion-item{
   margin: 16px 0;
   border-radius: 8px;
   border: none;
}

.accordion .accordion-item .accordion-item-question{
   padding: 8px 48px 8px 16px;
   min-height: 3.5rem;
   line-height: 1.5rem;
   display: flex;
   align-items: center;
   position: relative;
   cursor: pointer;
}

.accordion .accordion-item .accordion-item-question::after{
   content: "\002B";
   font-size: 30px;
   font-weight: bold;
   color: #4A5CFF;
   position: absolute;
   right: 25px;
}

.accordion .accordion-item .accordion-item-question.active::after{
   content: "\002D";
}

.accordion-item .accordion-item-answer{
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}

.accordion-item .accordion-item-answer .accordion-item-answer-content{
   padding: 16px;
   line-height:24px;
   border-top: 2px solid;
   border-image: linear-gradient(to right, #32CD32, transparent ) 1;
}

/*info contact section*/
.info-contact .info-contact-text {
   margin-top: 50px;
}

.info-contact .info-contact-text a {
   text-decoration: none;
   color: #E73BA5;
}

.info-contact .info-contact-text a:hover {
   color: #00ced1;
}

/*Footer section*/
footer {
   padding: 40px;
}

.social {
   text-align: center;
}

.social a {
   color: #E73BA5;
   font-size: 25px;
   text-decoration: none;
   padding: 0 10px;
}

.social a:hover {
   color: #00ced1;
}