.about {
  margin-bottom: 0px;

  .about-team {
    border-top: 3px solid;
    border-left: 3px solid;
    border-top-left-radius: 20px;
    padding: 25px 25px 10px 25px;
    margin-bottom: 30px;

    img {
      max-width: 200px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .about-name {
      margin-bottom: 15px;
      text-align: center;

      h2 {
        font-family: $font-family-header;
        font-size: 40px;
      }
      h5 {
        font-size: 18px;
        margin-bottom: 30px;
      }
    }

    .about-text {
      text-align: justify;
      margin-bottom: 25px;
    }
  } //.about team end
}

@media (min-width: 576px) {
  /*About section*/
  .about {
    .about-team {
      .about-name {
        h2 {
          font-size: 50px;
          margin-top: 110px;
        }
        h5 {
          margin-bottom: 0px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  /*About section*/
  .about {
    .about-team {
      img {
        max-width: 250px;
      }
      .about-name {
        h2 {
          margin-top: 140px;
        }
      } //about name
    } //about team
  } //.about
}

@media (min-width: 992px) {
  /*About section*/
  .about {
    margin-bottom: 60px;
    .about-team {
      height: 830px;
      img {
        max-width: 200px;
      }
      .about-name {
        h2 {
          margin-top: 0;
        }
        h5 {
          margin-bottom: 30px;
        }
      } //.about-name end
    } //.about-team end
  }
}

@media (min-width: 1200px) {
  /*About section*/
  .about {
    .about-team {
      height: 580px;
      img {
        max-width: 160px;
      }
      .about-name {
        margin-top: 93px;
        h2 {
          font-size: 42px;
        }
      }
    } //.about-team
  }
}

@media (min-width: 1400px) {
  /*About section*/
  .about {
    .about-team {
      height: 530px;
    } //.about-team
  }
}

//Section vission-mission start
.vision-mission {
  margin-bottom: 80px;
  margin-top: 50px;

  h2 {
    color: $blue;
    text-align: center;
    font-family: $font-family-header;
    font-weight: 700;
    font-size: 48px;
  }
  p {
    text-align: center;
  }
}
.values {
  .values-spacing {
    width: 610px;
  }
  .values-header {
    h2 {
      color: $primary;
      font-weight: 700;
      text-align: center;
      font-family: $font-family-header;
      font-size: 60px;
      margin-bottom: 25px;
    }
    p {
      text-align: justify;
      margin-bottom: 45px;
    }
  } //.values-header end
  .values-content {
    h2 {
      color: $dark;
      font-size: 37px;
      font-weight: 900;
      text-align: center;
      font-family: $font-family-header;
      margin-bottom: 15px;
    }
    p {
      text-align: justify;
      margin-bottom: 35px;
    }
  }
}
