.sound {
  width: 290px;
  margin: auto;
  border-top: 3px solid $secondary;
  border-left: 3px solid $success;
  border-top-left-radius: 20px;
  padding: 35px 20px;

  // .gallery img {
  //   max-width: 100%;
  //   height: auto;
  //   cursor: pointer;
  //   transition: transform 0.3s ease;
  // }

  // .gallery img:hover {
  //   transform: scale(1.02);
  // }
  .sound-info {
    h1 {
      font-family: $font-family-header;
      text-align: start;
      color: $blue;
      margin-bottom: 30px;
      font-size: 29px;
    }

    span {
      color: $primary;
    }

    .info-line {
      color: $blue;
      margin-bottom: 50px;
    }
  } //sound-info

  .sound-list {
    li::marker {
      color: $primary;
      font-size: 20px;
    }
  } //sound-list end
}

@media (min-width: 576px) {
  .sound {
    padding: 35px;
    width: 520px;
  }
}

@media (min-width: 768px) {
  .sound {
    width: 680px;

    .sound-info {
      h1 {
        font-size: 35px;
      }
    }
  }
}

@media (min-width: 992px) {
  .sound {
    width: 900px;

    .sound-info {
      .info-line {
        border-bottom: 2px solid $blue;
        width: 640px;
        color: $dark;
      }
    }
  }
}

@media (min-width: 1200px) {
  .sound {
    width: 1050px;

    .sound-info {
      h1 {
        font-size: 42px;
      }
    }
  }
}
